{% extends 'base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block body %}
<div class="pcoded-content">
    <div class="page-header card">
        <div class="">
            <div class="card">
                <div class="card-block">
                    <div class="d-inline">
                        <h3>Users</h3>
                    </div>
                    <div class="dt-responsive table-responsive">  
                        <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                     <thead>
                        <tr>
                            <th>Id</th>
                            <th>Manufacture Name</th>
                            <th>Product Name</th>
                            <th>Points</th>
                            <th>Image</th>
                            <th>QR-Code</th>
                            <th>Guidline</th>
                            <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for m,p_n,p,g,qr,gl in data %}
                            <tr> 
                                <td>{{ forloop.counter }}</td>
                                <td>{{ m }}</td>
                                <td>{{ p_n }}</td>
                                <td>{{ p }}</td>
                                <td><img src="{{ g }}" width="140px"></td>
                                <td><img src="{{ baseUrl }}/static/img/qr_images/{{qr}}" width="140px"><a href="http://127.0.0.1:8000/static/img/qr_images/{{ qr }}" download><button class="btn btn-primary">Download</button></a></td>
                                <td>{{ gl }}</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button> | <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}  
                     </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}