{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="pcoded-content">
<!-- <div class="page-header card"> -->
<!-- <div class=""> -->
<!-- <div class="card"> -->
<!-- <div class="card-block"> -->
<div class="d-inline">
   <h3>{{ title }}</h3>
</div>
<div class="page-header card text-center" id="video-name">
<div class="row">
<div class="col-sm-12">
<form class="md-float-material form-material" action="{% url 'add_ques'  %}" method="post">
   {% csrf_token %}
   <div class="auth-box card  text-left">
   <div class=" mr-3 ml-3">
      <div class="row  ">
         <div class="col-sm-12 card-block ">
            <a href="{% url 'video_details_home' %}"  >
               <h4 class="text-left" style="padding-bottom: 10px; font-weight: bold;"><i class="fa fa-chevron-left" aria-hidden="true"></i>
                  video ques
               </h4>
            </a>
            <div class="row or-section">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                     <label>Points
                     </label>
                     <input class="form-control" type="text" name="points">
                     <input type="hidden" name="id" value="{{ iid }}">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <!-- question1 -->
                  <div class="row ">
                     <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 question">
                        <div class="form-group">
                           <label>Question 1:
                           </label>
                           <input class="form-control" type="text" name="question_1">  
                        </div>
                        <div class="row justify-content-end  mt-2">
                           <div class="col-lg-11 col-md-9 col-sm-9 float-right">
                              <div class="row ">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                       <label>A:
                                       </label>
                                       <input class="form-control" type="text" name="q_1_a">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                       <label>B:
                                       </label>
                                       <input class="form-control" type="text" name="q_1_b">
                                    </div>
                                 </div>
                              </div>
                              <div class="row ">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                       <label>C:
                                       </label>
                                       <input class="form-control" type="text" name="q_1_c">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                       <label>D:
                                       </label>
                                       <input class="form-control" type="text" name="q_1_d">
                                    </div>
                                 </div>
                               
                              </div>
                              
                           </div>
                           <!--// question1 -->
                        </div>
                         <div class="row ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                          <label>Answer:
                                          </label>
                                          <input class="form-control" type="text" name="q_1_ans">
                                       </div>
                                    </div>
                                 </div>
                     </div>
                     <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                 <div class="text-left pt-1 ">
                                    <a href="{% url 'add_ques' %}"><button type="submit"><i class="fa fa-plus mr-1" aria-hidden="true"></i></button></a>
                                    <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                  </div>

               </div>
            </div>
</form>
</div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
</div>
{% endblock %}